@model CompStore.Web.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Вход</h3>
    </div>
    <div class="panel-body">
        <p class="lead">Войдите в систему</p>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            <div class="form-group">
                <label>Логин</label>
                @Html.TextBoxFor(m => m.Login, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Пароль</label>
                @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
            </div>
            <input type="submit" value="Войти" class="btn btn-primary"/>
        }
    </div>
</div>