@model IEnumerable<CompStore.Domain.Entities.Comp>

@{
    ViewBag.Title = "Админ панель";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <td>@Html.ActionLink("Товары", "Computers")</td>
                    <td>@Html.ActionLink("Сотрудники", "Employees")</td>
        </table>
    </div>
</div>